# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library.
/**                                                    export-ignore
/addons/editor_resource_preview_generator_extension/** !export-ignore
